<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/nav.ejs') %>

    <main>
      <h1 class="text-center">Schedule New Service</h1>
      <div class="text-center">Avalible Serices: </div>
      <%services.forEach(function(service){ %>
        <div class="text-center"><%=service.name%>: </div>
        <div class="text-center"><%=service.description%></div>
        <div class="text-center">Cost: $<%=service.cost%></div>
        <br>
      <% }); %>
    </main>
    

    <form id="serviceSchedule" class="text-center border">
      <!-- Select Pet Dropdown -->
      <label for="petId">Choose a pet:</label>
      <select id="petId" name="petId">
        <%customerPets.forEach(function(pet){%>
          <option value="<%=pet.pet_id%>"><%=pet.name%></option>
        <% });%>
      </select>
      
      <br><br>
      
      <!-- Choose Date -->
      <label for="date">Date: </label>
      <input id="date" type="date" name="date">
      
      <br><br>
      
      <!-- Choose Service -->
      <label for="serviceId">Service: </label>
      <select id="serviceId" name="serviceId">
        <option value="1">Nail Trim</option>
        <option value="2">Bath</option>
      </select>
      
      <br><br>
      
      <!-- Submit -->
      <button id="submit">Submit</button>
      
    </form>
    
    <%- include('partials/footer.ejs') %>
    <script src="/js/scheduleService.js"></script>
  </body>

  </html>
